---
interface Experience {
  role: string;
  company: string;
  period: string;
  description: string;
  link?: string;
}

interface Props {
  experience: Experience[];
}

const { experience } = Astro.props;
---

<section>
  <h2>Experience</h2>
  {experience.map(job => (
    <div>
      <h3>
        {job.role} @{' '}
        {job.link ? (
          <a href={job.link} target="_blank" rel="noopener noreferrer">{job.company}</a>
        ) : (
          <span>{job.company}</span>
        )}
      </h3>
      <p><em>{job.period}</em></p>
      <p>{job.description}</p>
    </div>
  ))}
</section>
